@import "../../assets/css/mixins.scss";

.card-list {
  @include flex-wrapper(column, nowrap, center, center, 20px);

  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.done-list {
  @include flex-wrapper(column, nowrap, center, top, 20px);

  // overflow-y: scroll;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fbc4ab;
}

.hide {
  display: none;
}
