@import "../../assets/css/utils.scss";

.card-list {
  @include flex-wrapper(column, nowrap, center, center, 20px);

  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  button {
    background-color: $main-color-strong;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4058a0;
    }
  }
}

.done-list {
  @include flex-wrapper(column, nowrap, center, top, 20px);

  // overflow-y: scroll;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $item-color;
  button {
    background-color: $main-color-strong;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4058a0;
    }
  }
}

.hide {
  display: none;
}
