@import "../../assets/css/utils.scss";
.form {
  @include flex-wrapper(column, nowrap, center, center, 10px);
  border-radius: 10px;
  width: 80%;
  height: 120px;

  background-color: $main-color;
  input {
    padding: 10px 15px;
    border: 2px solid $main-color-strong;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    width: 80%;

    &:focus {
      border-color: #5070c8;
      box-shadow: 0 0 8px rgba(80, 112, 200, 0.5);
    }
  }

  button {
    background-color: $main-color-strong;
    color: white;
    padding: 5px 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4058a0;
    }
  }
}
