@import "../../assets/css/utils.scss";

.main_section {
  position: relative;
}

.done_list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $background;
}

.button {
  border: none;
  background-color: transparent;
  padding: $button-padding;
}
