.product {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4a4e69;
  color: #f2e9e4;
  border-radius: 20px;
  img {
    max-width: 100%;
  }
}
