.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;

  background-color: #f2e9e4;
  color: black;

  margin: 10px;
  border-radius: 20px;
}
