.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 5px;
  background-color: rgb(253, 176, 176);

  margin: 10px;
  border-radius: 20px;
}
