@import "../../assets/css/utils.scss";

.wrapper {
  @include flex-wrapper(column, center, center);
  padding: $card-padding;
  background-color: $shadow;
  border: $border-size solid $border-color;
  border-radius: $border-radius;
  .input {
    border: $border-size solid black;
    border-radius: $border-radius;
    padding: $button-padding; /* Padding per l'input */
    width: 80%;
    outline: none;

    &:focus {
      border: $border-size solid black;
    }
  }

  .button {
    background-color: $card-soft;
    color: white;
    width: 30%;
    padding: $button-padding;
    border: $border-size solid white;
    border-radius: $border-radius;
    transition: all 0.3s ease-in;

    &:hover {
      background-color: $card-strong;
    }
  }
}
