@import "../../assets/css/utils.scss";

.footer {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  right: 2rem;
  border-radius: $border-radius;
  border: $border-size solid $border-color;

  height: 40px;
  @include flex-wrapper(row, center, center);
  background-color: $shadow;
  p {
    color: white;
  }

  a {
    cursor: pointer;
  }
}
