@import "../../assets/css/utils.scss";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  @include flex-wrapper(row, center, center);
  background-color: $shadow;
}
